ul {
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(102, 51, 153, 0.103);

  li {
    margin-right: 30px;
  }
  a {
    padding: 30px;
    font-size: 24px;
    font-weight: 700;
  }
  @media only screen and (max-width: 570px) {
    & {
      a {
        padding: 10px 0;
        margin-left: 10px;
      }
    }
  }
  @media only screen and (max-width: 300px) {
    & {
      li {
        margin: 10px;
      }
      a {
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
}
